In [1]:
import rdatasets

In [2]:
import pandas as pd

In [3]:
rdatasets.summary()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
2259,wooldridge,wage1,wage1,526,24,16,0,0,0,24,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2260,wooldridge,wage2,wage2,935,17,4,0,0,0,17,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2261,wooldridge,wagepan,wagepan,4360,44,37,0,0,0,44,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2262,wooldridge,wageprc,wageprc,286,20,0,0,0,0,20,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2263,wooldridge,wine,wine,21,5,0,1,0,0,4,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [4]:
from rdatasets import data

In [5]:
# Load the "Affairs" dataset from the "AER" package
affairs_data = data(package='AER', item='Affairs')

In [6]:
# Now, `affairs_data` contains the dataset
print(affairs_data.head())  # Print the first few rows of the dataset

   rownames  affairs  gender   age  yearsmarried children  religiousness  \
0         4        0    male  37.0         10.00       no              3
1         5        0  female  27.0          4.00       no              4
2        11        0  female  32.0         15.00      yes              1
3        16        0    male  57.0         15.00      yes              5
4        23        0    male  22.0          0.75       no              2

   education  occupation  rating
0         18           7       4
1         14           6       4
2         12           1       4
3         18           6       5
4         17           6       3

In [7]:
import os,swat

In [8]:
conn = swat.CAS(os.environ['CAS_CONTROLLER'], 5570, password=os.environ['ACCESS_TOKEN'])

In [9]:
# Assuming `affairs_data` is your pandas DataFrame
# Upload it to CAS
cas_table = conn.upload_frame(affairs_data, casout=dict(name='affairs_data', replace=True))

NOTE: Cloud Analytic Services made the uploaded file available as table AFFAIRS_DATA in caslib CASUSER(lincoln.groves@sas.com).
NOTE: The table AFFAIRS_DATA has been created in caslib CASUSER(lincoln.groves@sas.com) from binary data uploaded to Cloud Analytic Services.

In [11]:
# New method of saving
cas_table.save(name="affairs_data.sashdat", replace=True)

NOTE: Cloud Analytic Services saved the file affairs_data.sashdat in caslib CASUSER(lincoln.groves@sas.com).

[caslib]

 'CASUSER(lincoln.groves@sas.com)'

[name]

 'affairs_data.sashdat'

+ Elapsed: 0.00937s, user: 0.00101s, sys: 0.000285s, mem: 16.5mb

In [12]:
# Get the list of tables in a specific caslib
conn.tableInfo(caslib = 'casuser')

[TableInfo]

            Name  Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart SourceName SourceCaslib  Compressed                 Creator Modifier     SourceModTimeFormatted  SourceModTime TableRedistUpPolicy
 0  AFFAIRS_DATA   601       10               0    utf-8  2024-06-06T20:42:02+00:00  2024-06-06T20:42:02+00:00  2024-06-06T20:42:17+00:00        UTF8  2.033326e+09  2.033326e+09  2.033326e+09       0         0     0          0                                   0  lincoln.groves@sas.com           2024-06-06T20:42:02+00:00   2.033326e+09       Not Specified

+ Elapsed: 0.00065s, user: 0.000456s, sys: 0.000119s, mem: 0.692mb